<!DOCTYPE html>

<html>
<head>
  <title>Beego</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div>
    <input id="roomname" type="text">
    <input id="roompassword" type="text" >
    <input id="join" type="button" value="进入房间">
  </div>


  <script >
    $('#join').click(function() {
      $.ajax({
      type:'post',
      url: '/create',
      data: {
        roomname: $('#roomname').text(),
        roompassword: $('#roompassword').text()
        },
      success:function(ret){
        ret = JSON.parse(ret)
        console.log(ret)
        console.log(ret.message)
        //window.location = ret.url
      },
      error:function(ret){
        console.log(ret)
      }
    }) 
    })
  </script>
</body>
</html>
