<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>register</title>
    <link href="../static/css/register.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="wrap">
    <div class="container">
        <h1>Sign up</h1>
        <form>
            <input type="text" placeholder="Your email"/>
            <input type="password" placeholder="password" />
            <input type="password" placeholder="Please confirm your password" />

            <input type="submit" value="注册"/>
            <p class="change_link" align="center">
                <span class="text">Already a member ?</span>
                <a href="login.html" class="to_login"> Go and log in </a>
            </p>
        </form>
    </div>
</div>
</body>
</html>